<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/dashboard.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>


<body>
    <div class="landing">
            <div class="topnav">
                    <a  href="../../index.html">Home</a>
                    <a  href="passengers_dashboard.html" >Search for a Ride </a>
                    <a class="active"  href="passenger_list_of_rides.html">List of rides Taken</a>
                    <a   href="Passenger_accounts.html">Passenger Login</a>
                    <a style="float:right" href="../../index.html">Logout</a>
                   
                </div>
  <div class="total_number_of_drives">
        <div class="card">
                <div class="container">
                    
                    <h3 class="driver-title">
                            <b>Total No. of Drives Taken </b>
                        </h3>
                        <h1 class="no-of-drives">3</h1>
                        <hr/>
                </div>
            </div>
  </div>
                


    <div class="admin-view">
      
        <h2 class="driver-title"> List of Rides Taken</h2>
        <hr/>
        <div class="card">
            <div class="container">
                <h4>
                    <b class="names-of-users">Driver : Jakana Musa</b>
                </h4>
                <p>Trip : From kibuli to kawempe.</p>
                <p>Charged Price: <strong>20000</strong> <i>ugx</i></p>
                <p>Date : 4-June-2018 </p>
                <hr/>
                
            </div>
        </div>
        <br>
        <div class="card">
            <div class="container">
                <h4>
                    <b>Driver : Kalema  Ronald</b>
                </h4>
                <p>Trip : Ntinda to Salaama Road</p>
                <p> Charged Price: <strong>30000</strong> <i>ugx</i></p>
                <p>Date : 3-June-2018 </p>
                <hr/>
                
        </div>
    </div>
    <br>
        <div class="card">
            <div class="container">
                <h4>
                    <b>Driver Idris Makubuya</b>
                </h4>
                <p>Trip : Kyaliwajjala to Munyonyo</p>
                <p> Charged Price :  <strong>25000</strong> <i>ugx</i> </p>
                <p>Date : 3-April-2018 </p>
                <hr/>
        </div>
    </div>
</div>
</body>

</html>

