<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>User dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/index.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/dashboard.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="../css/signup.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="main.js"></script>
</head>
<body>

        <div class="landing">
                <div class="topnav">
                    <a  href="../../index.html">Home</a>
                    <a  href="passengers_dashboard.html" >Search for a Ride </a>
                    <a class="active" href="passenger_ride_offers.html">Ride Offers</a>
                    <a   href="passenger_list_of_rides.html">List of rides Taken</a>
                    <a href="Passenger_accounts.html">Passenger Login</a>
                    <a style="float:right" href="../../index.html">Logout</a>
                </div>

        <div class="admin-view">
                <h2 class="driver-title">List of Rides Given </h2>
                <hr/>
                <div class="card">
                    <div class="container">
                        <h4>
                            <b class="names-of-users">Up to 75% Off on 5 Rides</b>
                        </h4>
                        <hr/>
                        <p>Get 75% off on 5 rides.</p>
                        <p></p>
                        <p>Offered by  <i>driver: Mugerwa Kabwama </i></p>
                        <hr/>
                        
                    </div>
                </div>
                <br>
                <div class="card">
                    <div class="container">
                        <h4>
                            <b class="names-of-users">Save up to 50 % on Easter</b>
                        </h4>
                        <p>Request a ride on Easter and win yourself an offer.</p>
                        <p></p>
                        <p>Offered by <i>Driver : Kasibante Emma</i></p>
                        <hr/>
                        
                </div>
            </div>
            <br>
                <div class="card">
                    <div class="container">
                        <h4>
                            <b class="names-of-users">30% Ramathan Ride Package Offer </b>
                        </h4>
                        <p>Get an amazing cheap ride in Ramathan</p>
                        <p> </p>
                        <p>Offered by <i>Driver:  Lutaaya Mudathir </i> </p>
                        <hr/>
                </div>
            </div>
    
</body>
</html>